<%layout("layouts/boilerplate.ejs")%>
<body>
    <h3>Create a New Airbnb Listing</h3>
    
    <form action="/listing" method="POST">
    
    <input type="text" name="listing[title]" placeholder="Enter title" required>
    <br><br>
    
    <textarea name="listing[description]" placeholder="Enter description" required></textarea>
    <br><br>
    
    <input type="text" name="listing[image][url]" placeholder="Enter image URL" > 
    <br><br>
    
    <input type="number" name="listing[price]" placeholder="Enter price" required>
    <br><br>
    
    <input type="text" name="listing[location]" placeholder="Enter location" required>
    <br><br>
    
    <input type="text" name="listing[country]" placeholder="Enter country" required>
    <br><br>

    <button>Add Listing</button>
</form>
</body>